/*--semantics reset and basics--*/
* {
  font-family: 'ff-tisa-sans-web-pro', 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
}

main {
}

p, a {
  font-weight: 400;
}
a {
  font-weight: 700;
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 1.1em;
  line-height: 1.6em;
}

h1, h2, h3, h4{
  font-family: 'ff-tisa-web-pro', 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 36px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
}


/*loading screen for the theme slider*/
#loading {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100000;
  display: none;
}
#loading #wheel {
  width: 60px;
  height: 60px;
  position: relative;
  margin-bottom: 25%;
}

#wheel div {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: #000;
  animation: load 1.2s cubic-bezier(0,0.5,0.5,1) infinite;
}

#wheel div:nth-child(1) {
  left: 5px;
  animation-delay: -0.24s;
}

#wheel div:nth-child(2) {
  left: 20px;
  animation-delay: -0.12s;
}

#wheel div:nth-child(3) {
  left: 35px;
  animation-delay: 0;
}



@keyframes load {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}


@media (min-width: 640px) {

    #loading #wheel {
      margin-bottom: 4%;
    }
}
/*--*/

/*top button*/



#topButton {
  background-color: #fff;
  box-shadow: 0 3px #000;
}



ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

p a:active {
  opacity: 0.5;
}

/*top button*/

#topButton {
  border: none;
  color: #000;
  position:fixed;
  font-family: 'Source Sans Pro';
  display: none;
  right: 25px;
  bottom: 65px;
  z-index: 40;
  margin: 3px;
  border-radius:50%;
  width: 45px;
  height: 45px;
  transition: 0.2s;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  font-size: 1.5em;
  line-height: 33px;
  padding: 0 10px 3px;
}

/*--Cookies--*/

#cookie-notice {
  bottom: 46px;
}

#cn-accept-cookie, #cn-more-info {
  background-image: none;
  background-color: #fff;
  color: #000;
  font-weight: normal;
  font-family: inherit;
  padding: 3px 18px;
  font-size: 0.9em;
  border-radius: 3px;
  border: 1px solid #000;
}

/*--Header--*/

header {
  position: absolute;
  top: 0;
  z-index: 2;
}

#logocontainer {
  width: 20%;
}

#logocontainer a {
  width: 80px;
  height: 29px;
  top: 18px;
  left: 24px;
  position: absolute;
}

#logo {
  width: inherit;
  height: inherit;
  background-image: url(../img/eb_logo_white.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  text-indent: -9999px;
}

/*--Menu--*/

#menu-symb {
  color: #000;
  position: absolute;
  right: 24px;
  cursor: pointer;
  width: 33px;
  height: 28px;
  top: 18px;
  background-image: url(../img/hamb_black_1.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.main-nav {
  height: 64px;
  top: 0;
  z-index: 100;
}

.main-menu {
  display: none;
  position: absolute;
  margin-top: 64px;
  background-color: #FFF;
  width: 100%;
  height: 100vh;
  padding: 0 0 48px 0;
  box-sizing: border-box;
  z-index: 1200;
}

.main-ul {
  margin-top: 48px;
}

.menu-item {
  padding: 12px 0;
  text-align: left;
  width: 100px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 6px;
}

.radiobutton {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 17px;
  color: #000;
  border: 2px solid #000;
  border-radius: 50%;
}

.menu-item.active .radiobutton {
  background-color: #000;
}

.radiobutton:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.menu-item.active .radiobutton:after {
  display: block;
}

.menu-item a {
  padding-left: 26px;
  font-size: 32px;
  color: #f7f144;
  letter-spacing: 1px;
  font-family: 'metalista-web';
  text-decoration: none;
  font-weight: 800;
  text-transform: lowercase;
}


.lang_items {
  overflow: hidden;
}
.lang_items a {
  text-decoration: none;
  color: #fff;
}

.lang_item {
  text-align: center;
  display: inline;
  padding: 12px 6px;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
}

.switch_container {
  width: 100px;
  text-align: center;
  float: right;
}

.lang_items a.active button {
  font-weight: bold;
}

/*--Page standards--*/

#submit,
#cn-accept-cookie, #cn-more-info {
  font-size: 1.2em;
  background-color: #fff;
  color: #000;
  border: none;
  box-shadow: 0 3px #000;
  text-decoration: none;
}

#submit:active,
#cn-accept-cookie:active, #cn-more-info:active {
  box-shadow: 0 1px #000;
  transform: translateY(2px);
}

#home, #contact, #cookies, #errorpage, #about {
  margin: 54px auto 72px auto;
  width: 90%;
  overflow: hidden;
}

#work {
  margin: 54px auto 72px auto;
  width: 100%;
  overflow: hidden;
}

#single {
  max-width: 1000px;
  margin: 31px auto 48px auto;
  display: grid;
}


section {
  margin-bottom: 84px;
}

input[type=submit] {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

#submit {
  padding: 3px 18px;
  font-size: 0.9em;
  border-radius: 3px;
  border: 1px solid #000;
}

#menu-symb:active,
#menu-symb.change:active {
  /* transform: translateY(3px); */
  transform: scale(0.96);
}

/*frontpage--*/


#frontpage {
  background-image: url(../img/name2_wave2_white.svg);
  /* background-image: url(../img/name2_wave_white.svg); */
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 60%;
  background-color: #000;
  overflow: visible;
  margin-bottom: 0;
}

#front_background {
  display: flex;
  flex-direction: column;
  height: 80vh;
  position: relative;
}

#belowfold {
  background-color: #fff;
  height: 75vh;
  margin-bottom: 0;
}
.name {
  display: none;
  color: #f7f144;
  /* -webkit-text-stroke: 2px #000; */
  opacity: 0.4;
  text-shadow: 2px 2px 0.7vw rgba(0,0,0,0.6);
  font-family: 'metalista-web';
  text-transform: uppercase;
  line-height: 0.8em;
  /* display: inline; */
  align-self: center;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.graphic_elem {
  background-image: url(../img/click_new.png);
  background-size: contain;
  background-position-y: bottom;
  margin: 0 auto;
  width: 100%;
  height: 67%;
  position: absolute;
  bottom: -60%;
  z-index: 1;
}

#preload {
  background: url(../img/clicked.png) no-repeat -9999px -9999px;
}

.graphic_elem.clicked {
  background-image: url(../img/clicked.png);
  background-size: contain;
}

.graphic_elem,
.graphic_elem2 {
  display: inline-block;
  background-repeat: no-repeat;
}
.graphic_elem2 {
  background-image: url(../img/draw_1-8.png);
  background-size: 56%;
  margin: -259px 0 55px -49px;
  height: 450px;
  width: 400px;
  transform: scaleX(-1) rotateZ(-120deg);
}



/*--Page: Work--*/

.categories {
  font-size: 1em;
  max-width: 129px;
  height: 18px;
  display: inline-block;
  position: relative;
  padding-left: 28px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#category_area {
  margin: 0 24px;
}
#category_area form {
  padding-bottom: 3px;
  padding-top: 1px;
}


.categories:nth-child(2n+1) {
    max-width: 95px;
}

#category_area input[type='checkbox'] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

#category_area input[type='submit'] {
  display: block;
  margin: 12px auto 0 auto;
}

.checkbox {
    width: 16px;
    height: 16px;
    position: absolute;
    border: 2px solid #000;
    left: 0;
    top: 0;
}

.checkbox:after,
.checkbox:before {
    height: 14px;
    border-left: 2px solid #000;
    left: 7px;
    top: 1px;
    content: '';
    display: none;
    position: absolute;
}
.checkbox:after {
    transform: rotate(45deg);
}

.checkbox:before {
    transform: rotate(-45deg);
}

.categories input:checked ~ .checkbox:before,
.categories input:checked ~ .checkbox:after {
  display: block;
}

#work_grid {
  margin-top: 54px;
  margin-left: auto;
  margin-right: auto;
}

.grid_project {
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}
.grid_project p, .grid_project a, .similar_projects p {
  font-size: 1em;
  text-decoration: none;
}


.grid_project p, .similar_projects p {
  background-color: #000;
  color: #fff;
}
.grid_project p {
  font-size: 0.9em;
  margin-top: 4px;
  position: absolute;
  bottom: 12px;
  padding: 6px 24px 6px 36px;
}
.similar_projects p {
  font-size: 0.9em;
  position: absolute;
  bottom: 12px;
  left:-3px;
  padding: 6px 12px 6px 24px;
  line-height: unset;
}

.work_grid_image {
  width: 100%;
  height: 360px;
  background-size: 125%;
  background-position: center;
  background-repeat: no-repeat;
}

/*--Single: Work--*/

#singleimages {

}

.gall_img {
  width: 100%;
  box-sizing: border-box;
}

.single_img {
  width: 100%;

}

#singleinfo {
  margin-bottom: 0;
  position: relative;
}

.single_top {
  width: 100%;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 32px 0;
}

.singletext {
  width: 90%;
  margin: 0 auto;
}
.singletext#vid {
  margin-top: 32px;
}

.single_description.more {
  max-height: 3000px;
  margin-bottom: 84px;
}

#readmore {
  display: block;
  margin-top: 12px;
  font-weight: bold;
  cursor: pointer;
}

#single h1{
  width: 90%;
  margin: 0 auto 10px auto;
  line-height: 1em;
}

.project_brief {
  float: left;
  padding-right: 6px;
}

#single h2{
  margin-bottom: 24px;
}

.single_category {
  margin: 0 auto 8px auto;
  font-size: 0.9em;
  width: 90%;
  overflow: hidden;
}

/*video stuff*/

.mejs-container {
  margin: 45px auto 45px auto;
}

.wp-video {
  width: 1000px!important;
}

.mejs-controls {
  bottom: -40px!important;
}

.mejs-container-fullscreen .mejs-controls {
  bottom: 0!important;
}

/**/


.ms-thumbs-cont {
  left: 0!important;
}

.ms-skin-default .ms-nav-next,
.ms-skin-default .ms-nav-prev {
  background-repeat: no-repeat!important;
  margin-top: -6px!important;
  opacity: 0.4;
}

.ms-skin-default .ms-nav-next {
  right: 12px!important;
  background: url(../img/arrow_next_grey.svg)!important;
  background-size: 100%!important;
  width: 15px!important;
  height: 15px!important;
}

.ms-skin-default .ms-nav-prev {
  left: 12px!important;
  background: url(../img/arrow_prev_grey.svg)!important;
  background-size: 100%!important;
  width: 15px!important;
  height: 15px!important;
}

.similar_projects {
  width: 90%;
  margin: 0 auto 72px auto;
}

.similar_thumbs_area {
  overflow: hidden;
  width: 100%;
}

.similar_thumb {
  margin: 0 -3px 36px auto;
  position: relative;
  height: 280px;
  width: 100%;
  display: block;

}

.thumb_img {
  width: 98%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.browse_all {
  text-align: center;
  display: block;
  padding: 6px 0;
  margin: 24px auto 64px auto;
  width: 100%;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #000;
  font-weight: 300;
}
.browse_all:active {
  box-shadow: 0 1px #000;
  transform: translateY(2px);
}


/*--Page: About--*/


#about p {
  margin: 0 auto;
}

#about h2 {
  text-align: left;
  margin: 48px 0 36px 0;
}

#about h4{
  margin-bottom: 6px;
}

#contact_arrow:before {
  content: '\21E9';
}

#about .image {
  width: 100%;
  margin-bottom: 36px;
}

/*--Page: Contact--*/


/*form*/

.wpcf7 {
  width: 100%;
}

.wpcf7-form {
  width: 99%;
  padding-bottom: 6px;
}

.wpcf7 label {
  margin-left: 2px;
  font-size: 0.8em;
  font-weight: bold;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  margin: 6px 0 12px 0;
  font-size: 0.9em;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email] {
  font-weight: normal;
  width: 98%;
  padding: 6px;
}
.wpcf7 textarea {
  resize: none;
  width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f7f144 inset;
}

div.wpcf7-mail-sent-ok {
  border: none;
  background-color: transparent;
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  font-weight: bold;
  margin-top: 6px;
}

span.wpcf7-not-valid-tip {
  font-size: 0.6em;
}

span.wpcf7-not-valid-tip:after {
  content: '\21E9';
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  border: none;
}

.wpcf7 input[type=submit] {
  float: right;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
background-color: transparent!important;
}

/**/

/*--Footer--*/

.mainfooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

  /*--Header--*/

  #logocontainer {
    width: 165px;
    float: left;
    overflow: hidden;
  }

  #logocontainer a {
    width: 100px;
    height: 38px;
    margin-top: 24px;
    margin-left: 24px;
    float: left;
    position: static;
    display: inline;
  }

  /*--Menu--*/

  #menu-symb {
    display: none;
  }

  .main-menu {
    display: inline;
    position: static;
    float: right;
    padding: 0;
    background-color: transparent;
    width: calc(100% - 165px);
    margin-top: 16px;
    height: auto;
  }

  .main-nav {
    height: 82px;
  }

  .main-ul {
    margin-top: 0;
    overflow: hidden;
    float: left;
    padding: 8px 0;
  }

  .menu-item {
    float: left;
    padding: 0;
    width: auto;
    margin: 0 37px 0 0;
  }

  .menu-item:before {
    padding-right: 11px;
  }

  .menu-item.active:before {
    padding-right: 11px;
    font-size: 10px;
  }

  .lang_items {
    float: right;
  }

  .lang_items a.active button {
    font-weight: bold;
  }

  /*--Page standards--*/


#contact, #cookies, #errorpage, #about {
    margin: 54px auto 72px auto;
    width: 90%;
  }

  #contact {
    margin-bottom: 96px;
  }

  #single {
      padding: 0 24px;
  }

  h1, h2, h3, h4{
    margin-bottom: 54px;
  }

  /*--Page: Frontpage--*/

  #front_background {
    width: 90%;
    margin: 0 auto;
  }

  .graphic_elem {
    width: 60%;
    height: 92%;
  }

  /*--Page: Work--*/

  .grid_project p {
    left: 6px;
  }

  .categories {
    width: auto;
    max-width: none;
    margin-right: 26px;
  }

  #category_area input[type='submit'] {
    display: inline-block;
    margin: 0;
  }

  #work_grid {
    margin-top: 54px;
    padding: 0 12px;
  }

  .grid_project {
    width: 50%;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }

  .grid_project p {
    margin-left: 0;
  }

  .work_grid_image {
    height: 405px;
    background-size: 147%;
  }



  /*--Single: Work--*/

  .single_top {
    height: 400px;
    width: calc(100% - 7px);
    margin-right: 7px;
  }

  .gall_img {
    width: calc(50% - 12px);
    padding: 6px;
  }


  #singleimages {
    padding: 0 12px;
  }

  .similar_thumbs_area {
    margin: 0 -3px;
    width: unset;
  }

  .similar_thumb {
    float: left;
    width: 33.33%;
    padding: 0 6px;
    height: 360px;
    box-sizing: border-box;
  }

  .browse_all {
    width: 100%;
  }

  .similar_projects p {
    left:4px;
    font-size: 0.8em;
  }

  /*--Page: About--*/

#imageblock {
  float: left;
  width: 45%;
}

#textblock {
  float: left;
  width: 55%;
  padding-left: 42px;
  box-sizing: border-box;
}

#about p {
  margin-bottom: 0;
}

#about p:nth-child(1) {
  margin-top: -6px;
}

#about .image{
  margin: 0 auto 54px auto;
}
.graphic_elem2 {
  background-size: 80%;
  margin: 0 -60px;
  height: 500px;
  width: 100%;
  transform: scaleX(-1) rotateZ(-30deg);
}

  /*--Page: Contact--*/

  .contact_text {
    float: left;
    width: 50%;
    padding-right: 42px;
    box-sizing: border-box;
    margin-top: 36px;
  }

  #contact_arrow:before {
    content: '\21E8';
  }


  /*forms*/

  .contact_form {
    width: 49%;
    float: left;
    margin-bottom: 0;
  }

  /**/
  /*--Footer--*/

  .mainfooter {
  }

  #slider_area {
    height: 32px;
    margin: 0 auto;
  }

}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

  h1 {
    font-size: 3.6em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.8em;
  }

  h4 {
    font-size: 1.4em;
  }

  p {
    font-size: 1.2em;
    line-height: 1.8em;
  }

  /*--Header--*/

  #logocontainer {
    width: 220px;
  }


  #logocontainer a {
    width: 120px;
    height: 43px;
    margin-top: 20px;
  }

  /*--Menu--*/

  .main-menu {
    background-color: transparent;
    width: calc(100% - 220px);
  }

  .main-nav {
    margin: 0 auto;
    /* width: calc(90% + 48px); */
  }

  .menu-item {
    margin-right: 54px;
    width: auto;
  }

  .menu-item:before {
    padding-right: 18px;
  }

  .menu-item.active:before {
    padding-right: 18px;
  }


  /*--Page standards--*/

#contact {
  margin-top: 54px;
  max-width: 1000px;
}

#about, #cookies, #errorpage {
    margin-top: 72px;
    max-width: 1000px;
  }

  /*--Page: frontpage--*/

  #front_background{
    width: 80%;
  }

/*About*/

.graphic_elem2 {
  background-size: 70%;
}

  /*--Page: Work--*/

  .grid_project {
    width: 33.33%;
  }

  .work_grid_image {
    height: 450px;
    background-size: 161%;
  }

  /*--Single: Work--*/

#single h1 {
  width: 100%;
  margin: 0 auto 0 24px;
}
#single h2{
  width: 100%;
}

.single_category {
  width: 100%;
  margin-left: 24px;
  margin-bottom: -2px;
}

.single_top {
  float: right;
  width: calc(40% - 7px);
  margin-right: 7px;
}

.singletext {
  width: calc(60% - 48px);
  margin: 36px 24px 24px 24px;
  float: right;
}
.singletext#vid {
  float: none;
  width: 100%;
}

/*video stuff*/

.mejs-container {
  width: 1000px!important;
  height: 560px!important;
}

.wp-video {
  width: 1000px!important;
}
/**/

.similar_projects {
  width: calc(100% - 48px);
}

.similar_thumb p {
  margin-left: 0;
}

.browse_all {
  margin: 48px auto 84px auto;
}


  /*--Page: About--*/



  /*--Page: Contact--*/

    .contact_text {
      padding-right: 0;
    }

  .contact_form {
    width: 40%;
    float: right;
  }

  /*--Footer--*/

}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

  /*--Header--*/

  /*--Menu--*/


  /*--Page: Work--*/

  .work_grid_image {
    height: 470px;
    background-size: 135%;
  }

  /*--Single: Work--*/

  #single h1 {
    margin-left: 0;
 }

  .single_category {
    margin-left: 0;
  }

  .singletext {
    width: calc(60% - 36px);
    margin-left: 0;
    margin-right: 36px;
  }


  .similar_projects {
    width: 100%;
  }

  /*--Page: About--*/

  .graphic_elem2{
    background-size: 70%;
    height: 600px;
    margin: 0 -90px;
  }


  /*--Page: Contact--*/

  /*--Footer--*/

}

/*=====================================1500PX========================================*/

@media (min-width: 1500px) {


/*--page standards--*/

#contact, #about, #cookies, #errorpage {
    max-width: 1200px;
  }

  /*--Header--*/

  /*--Menu--*/

  .main-nav {
    padding: 6px 36px;
  }


/*frontpage--*/

#front_background{
  width: 75%;
}


  /*--Page: Work--*/

#category_area form {
    margin: 0 auto;
}

#category_area{
  padding: 0 54px;
  margin: 0 auto 72px auto;
}

#work_grid {
  padding: 0 24px;
}

.grid_project p,
.similar_projects p {
  font-size: 0.9em;
}

.work_grid_image {
  height: 520px;
  background-size: 121%;
}


  /*--Single: Work--*/

  #single {
    margin: 54px auto 48px auto;
    max-width: 1200px;
  }

  #singleimages {
    padding: 0 24px;
  }

  /*video stuff*/

  .mejs-container {
    width: 1200px!important;
    height: 680px!important;
  }

  .wp-video {
    width: 1200px!important;
  }
  /**/

  .gall_img {
    width: calc(50% - 24px);
  }

  #slider_area {
    max-width: 1100px;
  }

  .project_logo {
    background-size: contain;
    margin: 0 36px;
  }

  .similar_projects {
    max-width: 1500px;
  }

  /*--Page: About--*/

  .graphic_elem2 {
    background-size: 55%;
  }


  /*--Page: Contact--*/

  /*--Footer--*/

}

/*=====================================2000PX========================================*/

@media (min-width: 2000px) {

#single {
  max-width: 1500px;
}

#contact, #about, #cookies, #errorpage {
    max-width: 1500px;
  }

  .similar_projects {
    max-width: 1500px;
  }


  .graphic_elem2{
    background-size: 50%;
    margin: -100px -64px;
  }

  .main-menu {
    width: calc(100% - 220px);
  }

  .menu-item {
    margin-right: 80px;
  }

  #logocontainer {
    width: 220px;
  }


}
