/*--semantics reset and basics--*/

* {
  font-family: 'ff-tisa-sans-web-pro', 'Trebuchet MS', sans-serif;


}

p, a {
  font-weight: 400;
}


h1, h2, h3, h4{
  font-family: 'ff-tisa-web-pro', 'Trebuchet MS', sans-serif;


}

body {
  /* background:
    /* On "top" */
    /* repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #42f4f1 10px,
      #42f4f1 20px
    ), */
    /* on "bottom" */
    /* linear-gradient(
      to bottom,
      #eee,
      #fffa72
    );  */

    background-color: #f7e4ad;
}

#loading {
  background-color: rgba(255, 249, 81, 0.7);
}

a {
  font-weight: 700;
  text-decoration: underline;
  color: #000;
}

/*top button*/

#topButton {
  background-color: #fff;
  box-shadow: 0 3px #000;
}



/*--Header--*/

/*--Menu--*/

.main-nav {
  background-color: #f7e4ad;
}

.main-menu {
  background-color: #f7e4ad;
}

.menu-item {
  width: 100px;
}

.menu-item a {
  padding-left: 26px;
  font-family: 'metalista-web';
  text-decoration: none;
  font-size: 32px;
  font-weight: 800;
  text-transform: lowercase;
}

.radiobutton {
  top: 14.4px;
}

.menu-item.active .radiobutton {
  background-color: transparent;
}

.radiobutton:after{
  background-color: #000;
}

.lang_items a {
  text-decoration: none;
}


/*--Page standards--*/

#submit,
#cn-accept-cookie, #cn-more-info {
  font-size: 1.2em;
  background-color: #fff;
  color: #000;
  border: none;
  box-shadow: 0 3px #000;
  text-decoration: none;
}

#submit:active,
#cn-accept-cookie:active, #cn-more-info:active {
  box-shadow: 0 1px #000;
  transform: translateY(2px);
}

/*slider---*/


/*frontpage--*/

#front_background {
  background-color: transparent;
  height: 58vh;
  display: flex;
  flex-direction: column;
}

.name {
  color: #f7e4ad;
  /* -webkit-text-stroke: 2px #000; */
  opacity: 0.4;
  text-shadow: 2px 2px 0.7vw rgba(0,0,0,0.6);
  font-family: 'metalista-web';
  text-transform: uppercase;
  line-height: 0.8em;
  display: inline;
  align-self: center;
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.titles_box{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 2px;
}

.titles_box p {
  float: right;
  padding-right: 6px;
  font-size: 14px;
}

.graphic_elem {
  background-image: url(../img/click_new.png);
  background-size: contain;
  background-position-y: bottom;
  margin: 0 auto;
  width: 100%;
  height: 67%;
  position: absolute;
  z-index: 1;
}
#preload {
  background: url(../img/clicked.png) no-repeat -9999px -9999px;
}
.graphic_elem.clicked {
  background-image: url(../img/clicked.png);
  background-size: contain;
}

.graphic_elem,
.graphic_elem2 {
  display: inline-block;
  background-repeat: no-repeat;
}



/*--Page: Work--*/

.grid_project p, .similar_projects p {
  background-color: #000;
  color: #fff;
}

#category_area form {
  padding-bottom: 3px;
  padding-top: 1px;
}

.categories {
  font-size: 1em;
  padding-left: 28px;
  max-width: 129px;
}

.checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    top: 0px;
    left: 0;
}

.checkbox:after,
.checkbox:before {
    height: 14px;
    border-left: 2px solid #000;
    left: 7px;
    top: 1px;
}

.grid_project p, .grid_project a, .similar_projects p {
  font-size: 1em;
  text-decoration: none;
}

.work_grid_image, #about .image {
  box-shadow: 1.5px 1.5px 0.4vw rgba(0,0,0,0.2);
}

/*--Single: Work--*/

.thumb_img {
  width: 98%;
  box-shadow: 1.5px 1.5px 0.4vw rgba(0,0,0,0.15);
}

.single_img, .single_top {
  box-shadow: 1.5px 1.5px 0.4vw rgba(0,0,0,0.2);
}

.browse_all {
  font-size: 1.2em;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px #000;
  font-weight: 300;
}

.browse_all:active {
  box-shadow: 0 1px #000;
  transform: translateY(2px);
}
/*--Page: About--*/

.graphic_elem2 {
  background-image: url(../img/draw_1-8.png);
  background-size: 56%;
  margin: -259px 0 55px -49px;
  height: 450px;
  width: 400px;
  transform: scaleX(-1) rotateZ(-120deg);
}

.similar_projects p {
  padding: 6px 12px 6px 24px;
}

/*--Page: Contact--*/

.wpcf7-form {
  padding-bottom: 6px;
}

/*form*/

.wpcf7 label {
  font-size: 0.8em;
  font-weight: bold;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #000;
  width: 100%;
  box-sizing: border-box;
}

div.wpcf7-mail-sent-ok {
  font-weight: bold;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f7e4ad inset;
}

.wpcf7 input[type=text], .wpcf7 input[type=email] {
  font-weight: normal;
}

/**/

/*--Footer--*/

.mainfooter {
  background-color: #f7e4ad;
  padding: 7px 0;
}

/*=====================================640PX========================================*/

@media (min-width: 500px) {

  .graphic_elem {
    height:80%;
  }

}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/


#logocontainer {
  width: 165px;
}

.main-menu {
  background-color: transparent;
  width: calc(100% - 165px);
  margin-top: 16px;
}

.radiobutton {
  top: 3px;
}

.menu-item {
  margin-right: 37px;
  width: auto;
}

.main-nav {
  background-color: transparent;
}



/*--Page standards--*/
/*slider---*/

/*front page*/

#front_background {
  background-color: transparent;
  margin-top: 0;
  height: 67vh;
}


.graphic_elem {
  width: 90%;
  height: 92%;
}


.titles_box{
  margin-left: 4px;
}

.titles_box p {
  font-size: 16px;
  padding-right: 30px;
}

/*--Page: Work--*/

.categories{
  max-width: none;
  margin-right: 26px;
}

/*--Single: Work--*/

/*--Page: About--*/

#about p:nth-child(1) {
  margin-top: -6px;
}

.graphic_elem2 {
  background-size: 80%;
  margin: 0 -60px;
  height: 500px;
  width: 100%;
  transform: scaleX(-1) rotateZ(-30deg);
}

/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*--Header--*/

/*--Menu--*/

.menu-item {
  margin-right: 54px;
  width: auto;
}

#logocontainer {
  width: 220px;
}

.main-menu {
  background-color: transparent;
  width: calc(100% - 220px);
}

/*--Page standards--*/
/*slider---*/

/*front page*/

#front_background{
  height: 77vh;
}


.graphic_elem {
  height: 80%;
}


.titles_box{
  margin-left: 7px;
}


/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/

.graphic_elem2 {
  background-size: 70%;
}

/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*THIS QUERY IS ONLY TO MAKE RESPONSIVE TYPE ON FRONT PAGE STOP WHEN IT GETS TOO BIG*/
/*=====================================1100PX========================================*/

@media (min-width: 1100px) {

  .name{
    font-size: 360px;
  }

}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

.graphic_elem2{
  background-size: 70%;
  height: 600px;
  margin: 0 -90px;
}


/*--Page: Contact--*/

/*--Footer--*/

}

/*=====================================1500PX========================================*/

@media (min-width: 1500px) {

/*--Header--*/

/*--Menu--*/

/*frontpage*/

#frontpage{
  margin-top: 24px;
}

#front_background{
  height: 74vh;
}

.{
  width: 85%;
  /* height: 55vh; */
  max-width: 1000px;
}

.graphic_elem2 {
  background-size: 55%;
}




.name {
  font-size: 400px;
}


/*--Page: Work--*/

/*--Single: Work--*/


/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/


}

/*=====================================1900PX========================================*/

@media (min-width: 1900px) {

  #front_background {
    height: 78vh;
  }

  #frontpage{
    max-width: 1380px;
  }

  .name {
    font-size: 500px;
  }

}

/*=====================================2000PX========================================*/

@media (min-width: 2000px) {

.name {
  font-size: 540px;
}

#frontpage{
  margin-top: 54px;
}

.graphic_elem {
  max-width: 1000px;
  /* height: 40vh; */
}

.graphic_elem2{
  background-size: 50%;
  margin: -100px -64px;
}

.main-menu {
  width: calc(100% - 220px);
}

.menu-item {
  margin-right: 80px;
}

#logocontainer {
  width: 220px;
}

}
