/*Name: Wavemaker*/

/*--semantics reset and basics--*/

* {
  font-family: 'Museo-Sans', 'Helvetica', sans-serif;
}

input[type=submit] {
  font-size: 1em;
  background-color: #ed1212;
  color: #fbfbfb;
  border: none;
}

body {
  background-color: #fbfbfb;
}

#loading {
  background-color: rgba(251, 251, 251, 0.7);
}
#wheel div {
  background-color: #ed1212;
}

p {
  font-size: 1.2em;
  font-weight: 300;
}

h1, h2, h3, h4{

}

a  {
  color: #ed1212;
  text-decoration: none;
  font-weight: bold;
}

/*top button*/

#topButton {
  background-color: #000;
  color: #fff;
}


/*--Header--*/

/*--Menu--*/

.main-nav, .main-menu {
  background-color: #fbfbfb;
}


.lang_items a {
  text-decoration: none;
  font-family: 'Nimbus Sans', sans-serif;
}

.radiobutton {
  display: none;
}

.menu-item {
  padding: 6px;
  text-align: center;
  width: 120px;
  margin-bottom: 16px;
}

.menu-item a {
  padding-left: 0;
}

.menu-item.active a {
  color: #ed1212;
}

.lang_item {
  text-transform: uppercase;
  font-family: 'Nimbus Sans', sans-serif;
}

.main-ul li a {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #000;
  text-transform: uppercase;
  font-family: 'Nimbus Sans', sans-serif;
  font-weight: normal;
}

.lang_items a.active button {
  color: #000;
}

/*--Page standards--*/

#submit {
  padding: 4px 18px;
  background-color: #000;
  border-radius: 0;
  border: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#submit:hover, .browse_all:hover {
  background-color: #ed1212;
}

#submit:active, .browse_all:active {
  background-color: #c43f38;
}

#cn-accept-cookie, #cn-more-info {
  background-color: #fbfbfb;
  color: #000;
  border-radius: 0;
  font-weight: bold;
  letter-spacing: 0.1em;
}
/*slider---*/


#cur_theme {
  font-size: 18px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background-color: #fbfbfb;
}

/*--front page--*/

#frontpage {
  margin: 0 auto;
  height: 67vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#front_background {
  background-color: #fbfbfb;
  height: auto;
  position: static;
  height: 150px;
}

.graphic_elem {
    background-image: url(../img/wavin_new.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 150px;
    width:90vw;
}

#textbox {
  z-index: 10;
  width: 100%;
  text-align: center;
}

.fill {
  font-family: 'Halogen', 'Museo-Sans', 'Helvetica', sans-serif;
  margin-bottom: 2px;
  font-size: 27px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
}


.titles_box p {
  font-size: 1em;
}



/*--Page: Work--*/

.grid_project p, .similar_projects p {
  font-size: 1em;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 1px 2px 6px rgba(0,0,0,0.1);
}

.checkbox {
    width: 17px;
    height: 16px;
    bottom: 0;
    background-color: #fbfbfb;
    border-width: 2px;
}

.checkbox:after,
.checkbox:before {
    height: 14px;
    border-left: 3px solid #ed1212;
    left: 7px;
    top: 1px;
}

.categories {
  max-width: 124px;
  font-size: 1.1em;
  height: 22px;
  margin-top: 3px;
}

/*--Single: Work--*/




#hideshow.hiding {
  background: linear-gradient(rgba(255,0,0,0), rgba(251,251,251,1) 50%);
}

.browse_all {
  text-decoration: none;
  padding: 9px 0 8px 0;
}
/*--Page: About--*/

#imageblock {
  position: relative;
}


/*--Page: Contact--*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fbfbfb inset;
}

/*form*/

.wpcf7 label {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: none;
  font-variant: normal;
  letter-spacing: normal;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea{
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #000;
  width: 100%;
  box-sizing: border-box;
}

div.wpcf7-mail-sent-ok {
  font-weight: bold;
}

/**/

/*--Footer--*/

.mainfooter {
  background-color: #fbfbfb;
  padding: 3px 0 5px 0;
}

/*=====================================440PX========================================*/

@media (min-width: 440px) {

  #frontpage {
    height: 60vh;
  }

  #front_background {
    height: 200px;
  }

.graphic_elem {
  height: 200px;
}


}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/

.lang_item {
  padding: 18px 6px;
}

.main-menu{
  margin-top: 15px;
}


.menu-item {
  margin-right: 24px;
  width: auto;
  margin-bottom: 0;
}

.menu-item a {
  font-size: 16px;
  padding-left: 24px;
}

/*--Page standards--*/
/*slider---*/

/*--front page--*/

#frontpage {
  height: 70vh;
}

#front_background {
  height: 32vh;

}

.graphic_elem {
    height: 200px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 12px;
    left: calc(50% - 300px);
    top: calc(50% - 100px);
}

.fill {
  margin-bottom: 2px;
  font-size: 32px;
  line-height: 32px;
}

.titles_box p {
  font-size: 1.2em;
}


/*--Page: Work--*/

.categories {
  max-width: none;
  margin-right: 22px;
  padding-left: 32px;
}

/*--Single: Work--*/
/*--Page: About--*/

#about p:nth-child(1){
  margin-top: -4px;
}
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/

.mainfooter {
  padding: 8px 0;
}

}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

  #work {
    margin-top: 64px;
  }

/*--Header--*/

/*--Menu--*/

.menu-item {
  margin-right: 42px;
}

/*--Page standards--*/
/*slider---*/
/*--front page--*/

#frontpage {
  margin: 0 auto;
  height: 80vh;

}

#front_background{
  margin-bottom: 30px;
  height: 300px;
}

.graphic_elem {
    height: 300px;
    width: 900px;
    left: calc(50% - 450px);
    top: calc(50% - 150px);
    margin: 0 auto;
}


.fill {
  margin-bottom: 6px;
}

/*--Page: Work--*/

/*--Single: Work--*/

.single_category {
  margin-bottom: -3px;
}
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*--front page--*/

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}
/*=====================================1500PX========================================*/

@media (min-width: 1500px) {

/*--Header--*/

/*--Menu--*/

/*--front page--*/

#frontpage {
  max-width: 1200px;
}

#front_background {
  height: 46vh;
  margin-bottom: 48px;
}

.graphic_elem {
    height: 400px;
    width: 1100px;
    background-size: contain;
}


.title {
  font-size: 1em;
  line-height: 1.8em;
}

/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}


/*=====================================1900PX========================================*/

@media (min-width: 1900px) {

#frontpage {
  max-width: 1500px;
}

#front_background {
  margin-top: 1%;
  height: 42vh;
}

.graphic_elem {
    height: 400px;
    width: 1200px;
    left: calc(50% - 600px);
    top: calc(50% - 200px);
}


#textbox {
  max-width: none;
}

.main-menu {
  width: calc(100% - 220px);
}

.menu-item {
  margin-right: 60px;
}

#logocontainer {
  width: 220px;
}

}


}

/*=====================================2000PX========================================*/

@media (min-width: 2000px) {

  .graphic_elem {
      height: 500px;
      width: 1400px;
      left: calc(50% - 700px);
      top: calc(50% - 250px);
  }

}
