/*--Name: Up North--*/

/*--semantics reset and basics--*/

* {
  font-family: 'Alegreya', 'Palatino Linotype', serif;
  color: #4a656b;
}

input[type=submit] {
  font-size: 1em;
  background-color: #7ba4ad;
  color: #fff;
  border: none;
}

#loading {
  background-color: rgba(199, 230, 237, 0.8);
}

#wheel div {
  background-color: #fff;
}


p {
}

h1, h2, h3, h4{
  font-weight: 800;
  font-style: italic;
}

a  {
  color: #7ba4ad;
  text-decoration: none;
}

p a  {
  font-weight: bold;
}

main {

}

body {
  background-color: #d0ecf2;
}

.body_home {
  overflow-y: hidden;
}

/*top button*/

#topButton {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 5px rgba(74,101,107,0.6);
  color: #4a656b;
}


/*--Header--*/

/*--Menu--*/

header {
  background-color: transparent;
  box-shadow: 0 2px 16px rgba(0,0,0,0.05);
}

.main-nav {
  background-color: transparent;
}

.main-menu {
  background-color: #d0ecf2;
}

.radiobutton {
  display: none;
}

#menu-symb {
  background-image: url(../img/hamb_frost_1.svg);
  width: 45px;
  height: 36px;
  right: 20px;
  top: 14px;
}

#logocontainer a {
  width: 93px;
  height: 45px;
  left: 20px;
  top: 14px;
}

#logo{
  background-image: url(../img/eb_logo_frost.svg);
}

.menu-item {
  padding: 6px;
  text-align: center;
  width: 100px;
}

.menu-item a {
  padding-left: 0;
  color: #4a656b;
  font-weight: 500;
}

.menu-item.active a {
  color: #fff;
  text-shadow: 1px 1px 1px #4a656b;
}

.lang_item {
  padding-top: 13px;
  font-size: 16px;
  color:#4a656b;
}

.lang_items a.active button {
  color: #4a656b;
}

/*--Page standards--*/

#submit {
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 5px rgba(74,101,107,0.6);
    margin: 2px 0 4px 1px;
    color: #4a656b;
}

#submit:active,
#cn-accept-cookie:active, #cn-more-info:active,
.browse_all:active {
  background-color: #fff;
}

#cn-notice-text {
  color: #fff;
}

#cn-accept-cookie, #cn-more-info {
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 2px 0 4px 1px;
  color: #4a656b;
}

/*slider---*/

#slider_area {
  height: 34px;
  margin: 1px auto -1px auto;
}

.prev, .next {
  width: 54px;
  margin-top: -28px;
}

.prev input[type='submit'] {
  background-image: url(../img/arrow_prev_frost.svg);
}

.next input[type='submit'] {
  background-image: url(../img/arrow_next_frost.svg);
}

.next input[type='submit'],
.prev input[type='submit'] {
  width: 42px;
  top: 22px;
  height: 50px;
  background-position: center;
  background-size: 75%;
}

#cur_theme {
  line-height: 36px;
}


/*--front page---*/

#frontpage {
  margin: 0;
  width: 100%;
  max-width: none;
  height: 100vh;
  position: relative;
}

#front_background{
  /* position: absolute; */
  /* bottom: 0; */
  background-image: url(../img/mammoth_3_smallscreens.gif);
  background-size: cover;
  height: 102%;
  width: 120%;
  margin-right: -50px;
  margin-top: -70px;
  background-position: center 0;
  background-repeat: no-repeat;
  z-index: 0;
}

.graphic_elem{
  width: 100%;
  height: 100%;
  background-color: #e8fbff;
  opacity: 0.2;
}

#textbox{
  display: none;
}

.fill {
  margin: 0 0 3px 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
}

.title {
  color: #fff;
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: 0.5px;
}

/*--Page: Work--*/

.grid_project p, .similar_projects p {
  box-shadow: 1px 1px 5px rgba(74,101,107,0.2);
  background-color: rgba(255,255,255,0.8);
}


#category_area{
  padding-bottom: 3px;
}

.categories {
  font-size: 1em;
  padding-left: 32px;
}


.checkbox {
    width: 16px;
    height: 16px;
    border: none;
    box-shadow: 1px 1px 5px rgba(74,101,107,0.6);
    bottom: 0;
    background-color: rgba(255,255,255,0.6);
}

.checkbox:after,
.checkbox:before {
    height: 10px;
    border-left: 2px solid #4a656b;
    left: 7px;
    top: 3px;
}

.work_grid_image, #about .image {
  box-shadow: 1.5px 1.5px 0.4vw rgba(74,101,107,0.3);
}

/*--Single: Work--*/

.browse_all {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 5px rgba(74,101,107,0.6);
  color: #4a656b;
  width: 99%;
  border-radius: 5px;
}

.thumb_img {
  width: 98%;
  box-shadow: 1.5px 1.5px 0.4vw rgba(74,101,107,0.3);
}

.single_img, .single_top {
  box-shadow: 1.5px 1.5px 0.4vw rgba(74,101,107,0.3);
}

/*--Page: About--*/
/*--Page: Contact--*/

#contact_arrow:before {
  background-color: #fff;
}

/*form*/

.wpcf7 label {
  font-size: 0.8em;
  font-weight: bold;
  font-style: italic;
}

.wpcf7 input[type=text],
.wpcf7 input[type=email],
.wpcf7 textarea{
  border: none;
  box-shadow: 1px 1px 5px rgba(74,101,107,0.4);
  padding: 6px;
  width: 99%;
  margin-left: 2px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.6);
}

div.wpcf7-mail-sent-ok {
  font-weight: bold;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
}

/**/

/*--Footer--*/

/* rgba(232, 251, 255, 0.8) */

.mainfooter {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(199, 230, 237, 0.8) 65%);
    /* box-shadow: 0px -10px 20px rgba(48, 64, 68, 0.06); */
    padding-bottom: 8px;
}

#solid {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(208, 236, 242, 1) 50%);
  z-index: 1100;
}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*--Header--*/

/*--Menu--*/

#logocontainer a{
  margin-top: 13px;
  height: 48px;
  width: 115px;
  margin-left: 20px;
}

.main-menu {
  background-color: transparent;
  margin-top: 16px;
}

.menu-item {
  padding: 5px 32px;
  margin: 0;
  width: auto;
}

.menu-item a {
  font-size: 18px;
}

/*--Page standards--*/
/*slider---*/

/*frontpage*/

#frontpage{
  position: unset;
}

#front_background {
  background-image: url(../img/mammoth_3.gif);
  margin: -24px 0 0 0;
  height: 100%;
  width: 100%;
  position: unset;
}


/*--Page: Work--*/
#category_area input[type='submit'] {
  margin-top: 2px;
}


/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/

.mainfooter {
  padding-top: 5px;
}

}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

#work,#contact, #cookies, #errorpage, #single {
    margin-top: 72px;
  }

#about {
  margin-top: 84px;
}

/*--Header--*/

/*--Menu--*/

#logocontainer a {
  height: 55px;
  width: 135px;
}

.menu-item {
  padding: 5px 42px;
}

/*--Page standards--*/
/*slider---*/

/*--frontpage--*/



/*--Page: Work--*/

/*--Single: Work--*/
/*--Page: About--*/
/*--Page: Contact--*/

/*form*/

/**/

/*--Footer--*/


}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*--Header--*/

/*--Menu--*/

/*frontpage*/

#frontpage{
  height: calc(100vh + 32px);
}

#front_background{
  background-position-y: -56px;
}

/*--Page: Work--*/

/*--Single: Work--*/

h1 {
  font-size: 4em;
}

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}

/*=====================================1500PX========================================*/

@media (min-width: 1500px) {

/*--Header--*/

/*--Menu--*/

/*frontpage*/

#frontpage{
  height: calc(100vh - 72px);
}

#front_background{
  background-position-y: -77px;
}


/*--Page: Work--*/

/*--Single: Work--*/

/*--Page: About--*/

/*--Page: Contact--*/

/*--Footer--*/

}

/*=====================================1900PX========================================*/

@media (min-width: 1900px) {

  #front_background{
    background-position-y: -87px;
  }


}


/*=====================================2000PX========================================*/

@media (min-width: 2000px) {



.main-menu {
  width: calc(100% - 220px);
}

.menu-item {
  margin-right: 30px;
}

#logocontainer {
  width: 220px;
}

}
